.banner-container {

    @include flex(space-between);

    .banner {
        flex    : 1 1 40rem;
        height  : 25rem;
        overflow: hidden;
        position: relative;

        img {
            height    : 100%;
            width     : 100%;
            object-fit: cover;
        }

        &:hover img {
            transform: rotate(-5deg) scale(1.4) ;
        }

        .content {
            position : absolute;
            top      : 50%;
            left     : 4%;
            transform: translateY(-50%);

            h3 {
                @include textStyle(3rem, $black);
            }

            p {
                @include textStyle(2rem, #333);
            }
        }
    }



}