.deal {

    background         : url(../img/deal-bg.jpg) no-repeat;
    background-position: center;
    background-size    : cover;
    padding-top        : 7rem;
    padding-bottom     : 7rem;

    .content {
        max-width: 50rem;

        .title {
            @include textStyle(4rem, $black);
        }

        p {
            padding: 1rem 0;
            @include textStyle(1.7rem, #333);
        }

        .count-down {
            // background-color: tomato;

            display  : flex;
            flex-wrap: wrap;
            gap      : 1rem;
            padding  : 0.5rem 0;

            .box {
                width     : 10rem;
                border    : .1rem solid rgba(0, 0, 0, .3);
                box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
                text-align: center;

                h3 {
                    width           : 100%;
                    height          : 7rem;
                    line-height     : 7rem;
                    background-color: #fff;
                    @include textStyle(5rem, $black);
                }

                span {
                    display         : block;
                    width           : 100%;
                    padding         : 0.5rem;
                    font-size       : 2rem;
                    background-color: $black;
                    @include textStyle(2rem, $white);
                }

                #second {
                    color: tomato;
                }
            }
        }
    }



}